# URL para instalar PyTorch solo para CPU
--extra-index-url https://download.pytorch.org/whl/cpu

# Cerebro de la aplicación
ultralytics

# CAMBIO: Se añadió la librería que faltaba
supervision

# Librerías para la interfaz y manejo de datos
streamlit
pandas
opencv-python-headless
numpy
pillow

# CAMBIO: Añade la librería para video en tiempo real
streamlit-webrtc